*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    background-color: #f9f9f9;
}
.main-container{
    background-color:  #e0fff7; 
    width: 90%;
    padding: 40px;
    border-radius: 10px;
}
/* Nav Styling*/
.first-nav{
    font-size: 18px;
    margin: 30px;
    font-weight: 900;  
}
.first-nav a{
    color: blue;
    background-color: azure;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 15px;
   
}
.first-nav a:hover{
    background-color: blue;
    color: white;
}
header{
    padding: 30px;
    text-align: center;
    font-family: Space Grotesk;
}
/* Main Headings*/
main h1{
    text-align: center;
    font-family: Space Grotesk;
}

main h2{
    margin: 30px;
    font-family: Space Grotesk;
    font-size: 28px;
}

.Bio p{
    padding-left: 40px;
    font-size: 20px;
}
/* Section Styling*/
.Bio p span, .p-span{
    font-weight: 1000;
    font-size: 22px;
    font-family: Space Grotesk;
}
.Biography p, .AltSchool p, .goals p{
    padding: 10px 40px;
    font-size: 20px;
    line-height: 28px;
}

.no-span{
    border-radius: 40px;
    border: 2px solid blue;
    color: blue;
    padding: 5px 10px;
    display: inline-block;
}
.Top-Link{
    display: inline-block;
    text-align: center;
    color: blue;
    background-color: azure;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px auto;
    font-weight: 900; 
    padding: 10px; 
    width: fit-content;
}

.Top-Link:hover{
    background-color: blue;
    color: white;
}
footer{text-align: center;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 40px;
    font-style: italic;
}
footer span{
    color: blue;
}

/* Media Query*/
@media screen and (max-width: 768px) {
    body {
        margin: 20px;
    }

    .main-container {
        width: 95%;
        padding: 20px;
    }

    main h1 {
        font-size: 24px;
    }

    main h2 {
        font-size: 22px;
    }

    .Bio p, .Biography p, .AltSchool p, .goals p {
        font-size: 18px;
        padding: 10px 20px;
    }

    .Top-Link {
        font-size: 16px;
        padding: 8px;
    }
    .first-nav a{
        display: block;
    }
}